{
    "plugins": [
        "transform-object-assign",
        [
            "transform-object-rest-spread",
            {
                "useBuiltIns": true
            }
        ]
    ],
    "presets": [
        "env"
    ]
}
